:root {
    --main-bg-color: #AAAAAA;
    --white: #faf0e6; 
	--text-heading: #110a06f4;
  }

  body {
	background-color: var(--main-bg-color);  
  }
  
  h1 {
	  color: var(--text-heading);
	  text-align: center;
	  padding: 20px;
	  font-size: : 400%
  }

.container{
    display: block;
    margin: 0 auto;
    text-align: center;
}

img{
  width: 20%;
}

.tab--selected {
  border-top: 4px green;
}

select {
  height: 38px;
  width : 80%;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  font-family: inherit;
  font-size: inherit;
}